@import 'vars'

#stage
	// height 150px
	// width 100%
	border 1px solid black
	margin 0 auto
	z-index 0
	margin-bottom 70px
	display flex
	
// @media (min-width: breakpoint-tablet)
// 	#stage
// 		height 250px
		
// @media (min-width: breakpoint-desktop)
// 	#stage
// 		height 350px
// 		width 1000px
		
// @media (min-width: breakpoint-xl)
// 	#stage
// 		height 500px
// 		width 1200px